:root {
    width: 100vw;
    height: 100vh;
    margin: 0;
    color: var(--black);
    font-family: 'SuisseIntl-Regular', sans-serif;
    background-color: var(--light-bg-grey);
}

.app-container {
    width: 100%;
    height: auto;
    margin: 0;
    overflow: hidden;
    background-color: var(--light-bg-grey);
    font-family: 'SuisseIntl-Regular', sans-serif;
}